<!-- function_registration/templates/function_registration/register_function.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="mt-5">Register Function</h1>
  <div class="row">
    <div class="col-md-6">
      <form method="post">
        {% csrf_token %}
        {% for error in form.name.errors %}
        <small class="text-danger">{{ error }}</small>
         {% endfor %}
        <div class="form-group">
          {{ form.name.label_tag }}
          {{ form.name }}
        </div>
        <div class="form-group">
          {{ form.language.label_tag }}
          {{ form.language }}
        </div>
        <div class="form-group">
          {{ form.memory_limit.label_tag }}
          {{ form.memory_limit }}
        </div>
        <div class="form-group">
          {{ form.cpu_limit.label_tag }}
          {{ form.cpu_limit }}
        </div>
        <div class="form-group">
          {{ form.timeout.label_tag }}
          {{ form.timeout }}
        </div>
        <button type="submit" class="btn btn-primary">Register Function</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}
