<!-- dashboard.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Register Function</h5>
                    <p class="card-text">Register a new function for your FaaS platform.</p>
                    <a href="{% url 'function_registry:register_function' %}" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Register Trigger</h5>
                    <p class="card-text">Register a new trigger for your FaaS platform.</p>
                    <a href="{% url 'trigger_registry:register_trigger' %}" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dispatch Trigger</h5>
                    <p class="card-text">Dispatch a trigger event to invoke associated functions.</p>
                    <a href="{% url 'trigger_registry:trigger_list'%}" class="btn btn-primary">Show Triggers to dispatch</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
